* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: #f0f8ff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    text-align: center;
}

.title-page_img-logo {
    width: 100px;
    margin-bottom: 20px;
}

.title-page_h2 {
    margin-top: 10px;
}

.contact-block {
    margin-top: 50px;
}

.contact-block_h2 {
    margin-bottom: 20px;
}

.contact-block_item {
    display: flex;
    align-items: center;
}

.contact-block_item:not(:last-child) {
    margin-bottom: 20px;
}

.contact-block_item_p {
    margin-right: 10px;
}

.links-header_p {
    margin-top: 50px;
    margin-bottom: 10px;
}

.links-header {
    display: flex;
    align-items: center;
}

.links-header_item {
    cursor: pointer;
}

.links-header_item a {
    text-decoration: none;
    color: #000;
    transition: color .2s;
}

.links-header_item a:hover {
    color: #009cf7;
}

.links-header_item:not(:last-child) {
    margin-right: 20px;
    border-right: 2px solid #000;
    padding-right: 20px;
}
